body {
height: 100%;
}
h1{
    color: rgb(256, 250, 216);
}
h1{
    color: rgb(253, 146, 6);
}
ul{
    color: rgb(250, 215, 238);
}
h1{
    color: rgb(251, 252, 249);
}
ul{
    color: rgb(20, 135, 236);
}
ol{
    color: lch(90.57% 92.6 108.1);
}
p{
    color: bisque;
}
li{
    color: rgb(237, 240, 241);
}
body{
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('newbackground.jpg');
    /* background-size: cover; */
     background-size:cover;
    /* background-position: center center; */
    min-height: 100dvh;
    /* background-repeat: repeat; */
}

