body{
    background-color: aqua;
    background-image:  url("OIP.webp");
    color: limegreen;
}

.box {
    border: 2px solid black;
}

.card {
    border: 2px solid rgb(224, 22, 22);
    border-radius: 8px; /* Smooths out the the corners */
}

table {
    display: table;
    box-sizing: border-box;
    border-collapse
Selects a table's border mode
Widely available across major browsers (Baseline since January 2018)
Learn more}

Don't show{
: separate;
    text-indent: initial;
    unicode-bidi: isolate;
    border-spacing: 2px;
}
