body {
    background-image: url("project 1.png");
    color: #e20e0e;
    background-size: fill;
    background-repeat: repeat;
}

h1 {
    color: #ff0101;
    border: 2px solid #ff0000;
}

h1, h2 {
    background-image: url("mina.png")
    color: #ff0000;
    border: 2px solid #ff0000;
}
